.container{
        height: 100%;
        width: 95%;
        border: 1px solid;
        backdrop-filter: blur(1rem);
        align-items: center;
        justify-content: center;


}
.div-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .hr-style {
                width: 80%;
                border-color: black;
            }
}

.card-aside{
        margin: 1rem;
        height: 30%;
}