@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
.header {
        color: white;
        text-align: center;
        width: 100%;
        min-height: 4rem;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        justify-content: space-around;

        h1{
                font-family: 'Exo', sans-serif;
                text-align: center;
                margin-top: 1rem;
                @media(max-width:800px){
                  font-size: 1rem;
                }
        }
      }
      
      .header-content {
        max-width: 100%;
        display: flex;
      }
      
      .header-title {
        font-size: 1.5em;
        font-weight: normal;
      }
      .button-off{
        margin: .5rem 1rem;
        padding: 1rem 1rem;
        background-color: transparent;
        border: solid 1px;
        border-radius: 1rem;
        cursor: pointer;
      }

      
      