.container-sobre {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
        justify-content: space-around;
        @media (max-width: 800px){
            height: 100%;
            margin-top: 0;
     }
        
        .header-and-card {
            display: flex; 
            height: 80%;
            align-items: flex-start;
            gap: 1rem; 
            margin-left: 2rem;
            @media (max-width: 800px){
                display: inline;
                justify-content: center;
                align-items: center;
         }

            h1{
                align-self: center;
                @media (max-width: 800px){
                    text-align: center;
             }
            }

            .card-sobre {
                width: 82%; 
                height: 100%;
                border: 1px solid;
                backdrop-filter: blur(.6rem);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                @media (max-width: 800px){
                    width: 95%;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    display: flex;
             }
                @media (max-width: 500px){
                    backdrop-filter: none;
                    border: none;
                    display: flex;
             }
             
    
                p {
                    font-size: 1.2rem;
                    margin: 1rem;
                }
            }
        }
    
        .button-sobre {
            align-self: flex-end;
            margin-right: 2rem;
            color: black;
            background-color: white;
            padding: 1rem 1rem;
            cursor: pointer;
            border: none;
            transition: .5s;
            &:hover{
                background-color: antiquewhite;
            }
        }
    }
    